[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
untangle = "*"
twine = "*"
ozg = {path = "./dist/ozg-0.0.3-py3-none-any.whl"}
requests = "*"

[requires]
python_version = "3.8"
